@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("http://fonts.cdnfonts.com/css/menlo");

:root {
  --font-base: "DM Sans", sans-serif;

  --primary-color: rgb(7, 21, 45);
  --secondary-color: rgb(206, 214, 243);
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --lightestGray-color: #f3f3f3;
  --gray-color: rgb(125, 135, 165);
  --gray-blue: rgb(198, 209, 242);
  --brown-color: #46364a;
  --white-color: #ffffff;
  --crazy-color: rgb(58, 232, 183);
  --crazy-color-hover: rgb(80, 176, 216);
}

#point {
  position: absolute;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: var(--crazy-color);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
